@model Entities.Match

@{
    ViewBag.Title = "Details";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Round)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Round)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>

      @if (Model.Winner != null)
        {
            <dt>
                <br />
                @Html.DisplayNameFor(model => model.Winner)

            </dt>

            <dd>
                <br />
                @Html.DisplayFor(model => model.Winner.Name)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },  new { @class = "btn btn-info" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
