@model DragonLairFrontEnd.Models.MatchViewModel

    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edit Winner</h2>

    <hr />

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Match.Id)

        @Html.AntiForgeryToken()
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Match.Round)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Match.Round)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Match.Tournament)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Match.Tournament.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Match.AwayTeam)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Match.AwayTeam.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Match.HomeTeam)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Match.HomeTeam.Name)
                </dd>


                <dd>
                    @Html.HiddenFor(model => model.Match.Winner)
                </dd>
                <dd>
                    <br />
                    @Html.DropDownList("teamId", new SelectList(Model.Teams, "Id", "Name", Model.Teams));
                    @Html.ValidationMessageFor(model => model.Teams, "", new { @class = "text-danger" })
                </dd>

            </dl>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
