@model DragonLairFrontEnd.Models.TournamentViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Available Types")
        </th>

        <th></th>
    </tr>
    @if (!Model.TypeIsSelected)
    {
        foreach (var item in Model.TournamentTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Add Type", "AddTournamentType", "Tournament", new { tournamentTypeId = item.Id }, new { @class = "btn btn-success btn-sm" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.TournamentType.Type)
            </td>
            <td>
                @Html.ActionLink("Remove Type", "RemoveTournamentType", "Tournament", new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>


