@model DragonLairFrontEnd.Models.TournamentViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Available Players")
        </th>

        <th></th>
    </tr>
    @if (Model.Players.Count != 0)
    {
        foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Add Player", "AddPlayer", "Tournament", new { playerId = item.Id }, new { @class = "btn btn-success btn-sm" })
                </td>
            </tr>
        }
    }

</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Selected Players")
        </th>

        <th></th>
    </tr>
    @if (Model.SelectedPlayers.Count != 0)
    {
        foreach (var item in Model.SelectedPlayers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Remove Player", "RemovePlayer", "Tournament", new { playerId = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>

        }
    }

</table>
