@model DragonLairFrontEnd.Models.TournamentViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <table class="table">

        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.TournamentType)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.Game)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.Game.Genre.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.StartDate)</th>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.Tournament.Name)</td>
            <td>@Html.DisplayFor(model => model.Tournament.TournamentType.Type)</td>
            <td>@Html.DisplayFor(model => model.Tournament.Game.Name)</td>
            <td>@Html.DisplayFor(model => model.Tournament.Game.Genre.Name)</td>
            <td>@Html.DisplayFor(model => model.Tournament.StartDate)</td>
        </tr>


    </table>
    <p></p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Groups)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Groups.Select(a => a.Teams))</th>
        </tr>

        @foreach (var group in Model.Tournament.Groups)
        {
            <tr>
                <td>@group.Name</td>

                @foreach (var team in group.Teams)
                {
                    <td>@team.Name</td>
                }
            </tr>
        }

    </table>
    <p></p>

    <table class="table">
        <tr>
            <th></th>
        </tr>


    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tournament.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
