@model DragonLairFrontEnd.Models.TournamentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />

    <table>

        <tr>
            <td></td>
            <th>@Html.DisplayNameFor(model => model.Tournament.Game)</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Tournament.Name):</td>
            <td>@Html.DisplayFor(model => model.Tournament.Game.Name)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Tournament.Game.Genre):</td>
            <td>@Html.DisplayFor(model => model.Tournament.Game.Genre.Name)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Tournament.TournamentType.Type):</td>
            <td>@Html.DisplayFor(model => model.Tournament.TournamentType.Type)</td>
        </tr>

    </table>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament.Groups):
            </th>
        </tr>


            @foreach (var group in Model.Tournament.Groups)
            {
                <tr><td>@Html.DisplayFor(model => group.Name)</td><tr>
            }
   

    </table>


    <table>

        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Groups.First().Teams):</th>
            <th></th>
            <th></th>
            <th></th>   
        </tr>

        <tr>
            <td>Name:</td>
            <td>Win:</td>
            <td>Draw:</td>
            <td>Loss:</td>
        </tr>
            @foreach (var team in Model.Tournament.Groups.FirstOrDefault().Teams)
            {
                <tr>
                    <td>@Html.DisplayFor(model => team.Name)</td>
                    <td>@Html.DisplayFor(model => team.Win)</td>
                    <td>@Html.DisplayFor(model => team.Draw)</td>
                    <td>@Html.DisplayFor(model => team.Loss)</td>
                </tr>
            }
      
    </table>
  

    <table>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Tournament.Groups.First().Teams.First().Players):</td>
        </tr>

        @foreach (var player in Model.Tournament.Groups.FirstOrDefault().Teams.FirstOrDefault().Players)
            {
            <tr>
                <td>@Html.DisplayFor(model => player.Name)</td>
            </tr>
        }


    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tournament.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
