@model DragonLairFrontEnd.Models.TournamentViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <table class="table">

        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.TournamentType)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.Game)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.Game.Genre.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.StartDate)</th>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.Tournament.Name)</td>
            <td>@Html.DisplayFor(model => model.Tournament.TournamentType.Type)</td>
            <td>@Html.DisplayFor(model => model.Tournament.Game.Name)</td>
            <td>@Html.DisplayFor(model => model.Tournament.Game.Genre.Name)</td>
            <td>@Html.DisplayFor(model => model.Tournament.StartDate)</td>
        </tr>


    </table>
    <p></p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Groups)</th>
            <th>@Html.DisplayName("Teams")</th>

        </tr>

        @foreach (var group in Model.Tournament.Groups)
        {
            <tr>
                <td>@Html.DisplayFor(model => group.Name)
              
                <td>
                    @foreach (var team in group.Teams)
                    {
                        <p>@Html.DisplayFor(model => team.Name)</p>
                    }
                </td>
            </tr>
        }

    </table>
    <p></p>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tournament.Matches.First().Round)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.Matches)</th>
            <th>@Html.DisplayNameFor(model => model.Tournament.Matches.First().Winner)</th>
        </tr>
        @foreach(var match in Model.Tournament.Matches)
        {
            <tr>
                <td>@Html.DisplayFor(model => match.Round)</td>
                <td>@Html.DisplayFor(model => match.HomeTeam.Name) vs @Html.DisplayFor(model => match.AwayTeam.Name)</td>
                @if (match.Winner != null)
                {
                    <td>@Html.DisplayFor(model => match.Winner.Name)</td>
                }

            </tr>

        }


    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
