@model DragonLairFrontEnd.Models.TournamentViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Available Games")
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (!Model.GameIsSelected)
    {
        foreach (var item in Model.Games)
        {
            <tr>
                <td>Name</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>Genre</td>
                <td>@Html.DisplayFor(modelItem => item.Genre.Name)</td>
                <td>
                    @Html.ActionLink("Add Game", "AddGame", "Tournament", new { gameId = item.Id }, new { @class = "btn btn-success btn-sm" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Name</td>
            <td>@Html.DisplayFor(modelItem => Model.Game.Name)</td>
            <td>Genre</td>
            <td>@Html.DisplayFor(modelItem => Model.Game.Genre.Name)</td>
            <td>
                @Html.ActionLink("Remove Game", "RemoveGame", "Tournament",  new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>


