@model DragonLairFrontEnd.Models.PlayerModel

@{
    ViewBag.Title = "Edit";
}

<h2>Player Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Player.Id)

            <div class="container">
                <div class="form-group">
                    @Html.LabelFor(model => model.Player.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Player.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Player.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="btn-group-sm">
                <div class="container">
                    <div class="form-group">
                        @Html.Label("In Teams", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            <table class="tableAdd col-md-6">
                                @foreach (var team in Model.TeamsAdded)
                                {
                                    <tr>
                                        <td class="col-md-6">
                                            @Html.DisplayFor(modelItem => team.Name)
                                            @Html.Hidden("teamId", team.Id)
                                        </td>
                                        <td class="col-md-6">
                                            <div class="btn-group-xs">
                                                @Html.ActionLink("Remove", "Remove", new { teamId = team.Id, playerId = Model.Player.Id }, new { @Class = "btn btn-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        @Html.Label("Select Teams", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            <table class="tableRemove col-md-6">
                                @foreach (var team in Model.ListWithOutAdded)
                                {
                                    <tr>
                                        <td class="col-md-6">
                                            @Html.DisplayFor(modelItem => team.Name)
                                        </td>
                                        <td class="col-md-6">
                                            <div class="btn-group-xs">
                                                @Html.ActionLink("ADD", "ADD", new { teamId = team.Id, playerId = Model.Player.Id }, new { @Class = "btn btn-success" })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="btn-group-sm">
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
