@model DragonLairFrontEnd.Models.TeamViewModel

<link href="~/Content/Team.css" rel="stylesheet" />
<table>
    <tr>
        <th>
            @Html.DisplayName("Available Players")
        </th>

        <th></th>
    </tr>
    @if (Model.AllPlayers.Count != 0)
    {
        foreach (var item in Model.AllPlayers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) 
                </td>
                <td>
                    @Html.ActionLink("Add Player", "Add", "Team", new { playerId = item.Id }, new { @class = "btn btn-success " })
                </td>
            </tr>
        }
    }

</table>

<table>
    <tr>
        <th>
            @Html.DisplayName("Selected Players")
        </th>

        <th></th>
    </tr>
    @if(Model.SelectedPlayers != null)
    {
        foreach (var item in Model.SelectedPlayers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td>
                @Html.ActionLink("Remove Player", "Remove", "Team", new { playerId = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>

        }
    }

</table>
